[submodule "zsh/rupa-z"]
	path = zsh/rupa-z
	url = https://github.com/rupa/z.git
	shallow = true
[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
	shallow = true
[submodule "bash/bash-sensible"]
	path = bash/bash-sensible
	url = https://github.com/mrzool/bash-sensible
	shallow = true
