[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox Developer
Comment=Firefox Developer Edition
Icon=/home/tom/Apps/firefox-developer/browser/chrome/icons/default/default128.png
Exec="/home/tom/Apps/firefox-developer/firefox" %f
Categories=GNOME;GTK;Network;WebBrowser;
Terminal=false
