[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJIdea
Icon=/home/tom/Apps/idea/current/bin/idea.png
Exec="/home/tom/Apps/idea/current/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
