[Desktop Entry]
Type=Application
Version=1.0
Name=Postman
Comment=Supercharge your API workflow
Icon=/home/tom/Apps/Postman/app/resources/app/assets/icon.png
Exec="/home/tom/Apps/Postman/Postman"
StartupNotify=false
StartupWMClass=Postman
